<div class="contents row">
  <div class="success">
    <h3>
      <%= @contacts.name %>様</br>
      以下の内容にてお問い合わせを承りました。</br>
    </h3>
    <p><%= @contacts.text %></p>
    <a class="btn" href="/tweets">トップページへ戻る</a>
  </div>
</div>